:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgba(255, 255, 255, 0.8);
    --primary-color: #170f23;
    --purple-primary: #7200a1;
    --active-color: #69387e;
    --bg-color: #231b2e;
    --bg-content-color: #2f2739;
    --border-color: rgba(255, 255, 255, 0.1);
    --header-height: 70px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.button {
    padding: 0;
    height: 38px;
    font-size: 1.4rem;
    min-width: 170px;
    border-radius: 20px;
    line-height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: #4e4552;
}

.button.is-small {
    font-size: 1.2rem;
    height: 27px;
    min-width: 125px;
    padding: 6px 19px;
}

.button.button-gold {
    background-color: #f8e71c;
    color: var(--black-color);
}

.button.button-primary {
    background-color: #7200a1;
}


.btn {
    color: #fff;
    padding: 12px;
    margin: 0 7px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}