:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #dadad5;
    --primary-color: #170f23;
    --footer-bg-color: #120c1c;
    --purple-primary: #7200a1;
    --active-color: #69387e;
    --link-text-hover: #c662ef;
    --bg-color: #231b2e;
    --bg-content-color: #2f2739;
    --border-color: rgba(255, 255, 255, 0.1);
    --header-height: 70px;
    --scale-rate-second: calc( 196 / 230);
    --scale-rate-third: calc( 162 / 230);
    --offset-x-third: calc(0px - ((230px - (230px * var(--scale-rate-third))) / 2 + 40px));
    --offset-x-second: calc(0px - ((230px - (230px * var(--scale-rate-second))) / 2 + 20px));
    --playlist--height: 245.36px;
    --playlist-tab--height: 226.33px;
    --album--height: 229.41px;
    --mv--height: 239.38px;
    --artist--height: 297.33px;
    --display-img--height: 179.34px;
    --artist-btn-height: 59px;
}


* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    word-wrap: break-word;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* Common variables */
.pd-l-20 {
    padding-left: 20px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}


.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pt-16 {
    padding-top: 16px !important;
}


.br-5 {
    border-radius: 5px !important;
}

.f-sz-18 {
    font-size: 1.8rem !important;;
}

.lh-27 {
    line-height: 2.7rem !important;
}

.is-rounded {
    border-radius: 50% !important;
}

.text-center {
    text-align: center;
}

.no-wrap {
    display: flex;
    scroll-behavior: smooth;
    flex-wrap: nowrap !important;
    overflow-x: overlay !important;
}

.no-wrap::-webkit-scrollbar {
    display: none;
}


/* Track */
.no-wrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}
  
  /* Handle */
.no-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
  
  /* Handle on hover */
.no-wrap::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.is-ghost:hover {
    color: var(--link-text-hover);
    text-decoration: underline;
    cursor: pointer;
}

.is-active:hover {
    color: var(--link-text-hover);
    cursor: pointer;
}



.button {
    padding: 0;
    height: 38px;
    font-size: 1.4rem;
    border-radius: 20px;
    line-height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: #4e4552;
}

.button i {
    font-size: 1.8rem;
}

.button.is-medium {
    font-size: 1.4rem;
    padding: 9px 24px;
}

.button.is-small {
    line-height: 1.2rem;
    font-size: 1.2rem;
    height: 27px;
    padding: 6px 19px;
}

.button.button-gold {
    color: #39383b;
    background-color: #f8e71c;
    color: var(--black-color);
}

.button.button-primary {
    background-color: #7200a1;
}

.button--disabled {
    opacity: 0.1 !important;
    cursor: default !important;
    user-select: none !important;
}


.control-btn {
    height: 32px;
    min-width: 32px;
    padding: 3px;
    margin: 0 7px;
    color: #fff;
    cursor: pointer;
    font-size: 2.4rem;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

.control-btn.is-medium {
}

.control-btn.is-small {
    font-size: 1.6rem;
}



.option-btn {
    width: 32px;
    height: 32px;
    padding: 9px 10px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 50%;
    color: var(--white-color);
    background-color: transparent;
}




.option-btn .btn--icon {
    width: 13px;
    height: 13px;
    padding-top: 1px;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.3rem;
    display: inline-block;
    color: rgb(138, 132, 132);
}

.btn--icon.icon--heart.primary {
    color: var(--purple-primary);
}

.option-btn:hover {
    background-color: var(--border-color);
}


/* Media CSS */
.media {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
}

.media__left {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-start;
}

.media__thumb {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.media__info {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info__title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--text-color);
    margin: 0;
}

.info__author {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.7rem;
    color: #6a6572;
    margin: 3px 0 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.info__author a {
    color: #6a6572;
    text-decoration: none;
}

.media__content {
    flex: 1 1;
    color: #999;
    font-size: 1.2rem;
    text-align: left;
    align-self: center;
}


.media__right {
    display: flex;
    flex-basis: auto;
    margin-left: 10px;
    justify-content: flex-end;
}





.row__item {
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: scroll-position;
}

.row__item-container {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.item-create--properties {
    cursor: pointer;
    background: linear-gradient(33deg,#5a1eae -7%,#ce267a 117%);
}

.item-playlist--height {
    height: var(--playlist--height);
}

.item-tab-playlist--height {
    height: var(--playlist-tab--height);
    /* height: 226.33px; */
}

.item-album--height {
    height: var(--album--height)
    /* height: 229.41px; */
}

.item-mv--height {
    height: var(--mv--height)
    /* height: 239.38px; */
}

.item-artist--height {
    height: var(--artist--height)
    /* height: 297.33px; */
}

.artist-info--height {
    height: calc(100% - var(--display-img--height) - var(--artist-btn-height)) !important;
}


.flex--center { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.flex--top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

/* Playlist display */
.row__item-display {
    width: 100%;
    height: var(--display-img--height);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}


.row__item-img {
    width: 100%;    
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.7s;
}

.img--square {
    padding-top: 100%;
}

.img--rec,
.img--mv {
    padding-top: 56.3%;
}

.row__item-display:hover .row__item-img {
    transform: scale(1.12, 1.12);
}


.row__item-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
}


.row__item-display .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 100%;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
}

.row__item-display .mv__time {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 10;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 3px 5px;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.7);
}

.row__item-display:hover .overlay,
.row__item-display:hover .row__item-actions {
    visibility: visible;
}


/* Playlist item actions */
.action-btn {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 6px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    color: var(--white-color);
}


.mv-btn--close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.mv-btn--close i:before {
    transform: translate(0.5px, -1px);
}

.action-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.action-btn .btn--icon:hover {
    background: none;
}

.action-btn .btn--icon {
    height: 18px;
    padding-top: 1px;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.8rem;
    display: inline-block;
}

.btn--play-playlist {
    height: 45px;
    width: 45px;
}

.btn--play-playlist .btn-toggle-play,
.btn--play-song .btn-toggle-play{
    margin: 0;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.btn--play-playlist .btn-toggle-play {
    font-size: 3rem;
    font-weight: 400;
    border-radius: 50%;
    border: 1px solid #fff ;
    background-color:  transparent;
}


.btn--play-song .btn-toggle-play i,
.btn--play-playlist .btn-toggle-play i {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Playlist info */
.row__item-info {
    height: calc(100% - var(--display-img--height));
    padding: 10px 0;
}

.row__item-info  .media__left {
    flex-basis: 100%;
}

.row__info-name {
    width: 100%;
    margin: 8px 0 4px;
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: inherit;
    position: relative;
}

.row__info-name:hover .row__info-icon,
.row__info-name:hover {
    color: #c662ef;
}


.row__info-icon {
    color: var(--text-color);
    height: 13px;
    padding: 0 0 3px 0;
    font-size: 1rem;
    line-height: 1rem;
    display: inline-block;
    position: relative;
    transform: translateY(-2.1px);
}

.icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #c662ef;
    display: none;
}

.row__info-name:hover .icon-overlay {
    display: block;
}



.row__info-creator {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
    letter-spacing: 0;
    margin: 0;
    color: #6a6572;
}

.row__item-btn {
    margin: 15px auto 20px;
}

.row__item-btn button.is-small {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    border: 1px solid var(--purple-primary);
}

.box--no-content {
    width: 100%;
    display: flex;
    padding: 30px 0;
    min-height: 220px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--border-color);

}

.no-content-image {
    width: 90px;
    height: 90px;
    background: url('https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/music-icon.cfa4aa91.svg') no-repeat center center / contain;
    margin-bottom: 20px;
}

.no-content-text {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #b3b3b3;
}
