/* Main CSS */
.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Siderbar CSS */
.app__sidebar {
    width: 240px;
    height: 100%;
    background-color: var(--bg-color);
}

.sidebar__nav {
    display: block;
    width: 240px;
    margin: 0 0 15px;
}

.sidebar__logo {
    height: 70px;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}

.sidebar__logo-link {
    display: inline-block;
    line-height: 1.2rem;
    text-decoration: none;
}

.sidebar__logo-img {
    background: url("https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg") 50% center / contain no-repeat;
    display: inline-block;
    width: 120px;
    height: 40px;
}

.sidebar__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    list-style: none;
    position: relative;
}

.sidebar__nav-list--separate::before {
    content: "";
    height: 1px;
    width: 187px;
    background-color: var(--border-color);
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.sidebar__nav-shadow {
    height: 30px;
    width: 240px;
    background-color: rgb(35, 27, 46);
    position: absolute;
    top: 39%;
    box-shadow: 0px 12px 12px rgb(35 27 46);
    z-index: 1;
}

.sidebar__nav-item {
    height: 38px;
    margin-left: 3px;
    padding: 7px 28px;
}

.sidebar__nav-item.active {
    background-color: #393243;
    border-left: 3px solid var(--purple-primary);
    margin-left: 0;
}

.sidebar__item-link {
    display: inline-flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.sidebar__nav-item:hover .sidebar__item-link {
    color: var(--white-color);
}

.sidebar__item-link i {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 100;
}

.sidebar__item-link span {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 10px;
    transform: translateY(1px)
}

.sidebar__nav-label {
    font-size: 1rem;
    line-height: 1.6rem;
    width: 34px;
    height: 16px;
    margin-left: 8px;
    border-radius: 4px;
    text-align: center;
    color: var(--white-color);
    background-color: red;
}

.sidebar__subnav {
    height: 223px;
    width: 240px;
    overflow-y: overlay;
    margin: 30px 0 0;

}


.sidebar__subnav::-webkit-scrollbar {
    display: none;
}

.sidebar__subnav:hover::-webkit-scrollbar {
    display: block;
    width: 4px;
}

  
  /* Track */
.sidebar__subnav::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}
  
  /* Handle */
.sidebar__subnav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
  
  /* Handle on hover */
.sidebar__subnav::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.sidebar__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px 10px;
    padding: 15px 8px;
    width: 200px;
    height: 109px;
    border-radius: 8px;
    background-image: linear-gradient(117deg,#5a4be7,#c86dd7 102%);
}

.sidebar__login-description {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    width: 100%;
    margin: 0 0 10px;
}

.button.sidebar__login-btn {
    width: 125px;
    height: 29px;
    font-weight: 600;
    border: 1px solid #fff;
}


.sidebar__subnav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-top: 15px;
    padding-left: 0;
    list-style: none;
    position: relative;

}

.sidebar__menu-item {
    padding: 8px 28px;
    height: 38px;
}

.sidebar__menu-item.menu-header {
    height: 42px;
    display: flex;
    align-items: center;
}

.sidebar__menu-item.menu-header i {
    font-size: 1.4rem;
    padding: 5px;
    color: var(--text-color);
    cursor: pointer;
}

.sidebar__menu-title {
    font-size: 1.2rem;
    line-height: 2.6rem;
    margin-right: 100px;
    font-weight: 800;
    color: var(--text-color);
}

.sidebar__menu-link {
    display: inline-flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.sidebar__menu-link span {
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 10px;
    transform: translateY(1px)
}

.sidebar__create-playlist {
    width: 100%;
    height: 54px;
    padding: 0 29px;
    margin-bottom: 89px;
    color: #fff;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color);
}

.sidebar__create-playlist i {
    font-size: 1.6rem;
    margin-right: 10px;
}


.sidebar__create-title {
    font-size: 1.4rem;
}




/* App container */
.app__container {
    flex: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 240px;
    bottom: 91px;
    background-color: var(--primary-color);
    overflow-y: overlay;
}


.app__container::-webkit-scrollbar {
    width: 4px;
    z-index: 10;
}

 /* Track */
.app__container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}
  
  /* Handle */
.app__container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
  
  /* Handle on hover */
.app__container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 240px;
    padding: 0 30px;
    width: calc(100% -240px);
    height: var(--header-height);
    justify-content: space-between;
    /* box-shadow: 0 1px 1px #120a1d; */
    /* background-color: var(--primary-color); */
}

.header__with-search {
    height: 100%;
    display: flex;
    align-items: center;
}


.header__button {
    padding: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.header__button-icon {
    font-size: 2.2rem;
    margin-right: 20px;
    color: var(--text-color);
}

.header__search {
    display: flex;
    align-items: center;
    width: 540px;
    border-radius: 20px;
    background: var(--bg-content-color);
    overflow: hidden;
    color: var(--white-color);

}

.header__search-icon {
    font-size: 2rem;
    padding: 0 8px 0 12px;
    color: var(--text-color);
    cursor: pointer;
}

.header__search-input {
    flex: 1;
    height: 40px;
    padding-bottom: 4px;
    line-height: 4rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
    color: var(--white-color);
    background: var(--bg-content-color);
}

.header__search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: 1; /* Firefox */
}
  
.header__search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text-color);
}
  
.header__search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-color);
}

.header__nav {

}

.header__nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 15px 0;
}

.header__nav-item {
    margin-right: 10px;
}

.header__nav-btn {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    margin: auto;
    outline: none;
    border: none;
    cursor: pointer;
    background: #2f2739;
}

.header__nav-btn.user {
    background: #ced5e3;
}

.header__nav-icon {
    color: var(--text-color);
    font-size: 2rem;
}

.header__user-icon {
    font-size: 2rem;
    color: var(--text-color);
}



/* App container Header */
.app__header {
    width: 100%;
    padding-top: 85px;
    position: relative;
    filter: blur(0px);
}

.app__header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 290px;
    background-color: rgba(23, 15, 35, 0.8);
}

.app__header-user {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.app__user-avatar {
    padding: 4px;
    height: 103px;
}

.app__user-img {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: 0 1px 2px var(--active-color);
}

.app__user-name {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.8rem;
    margin: 10px 0 5px;
    color: var(--white-color)
}

.app__header-actions {
    position: absolute;
    right: 30px;
    top: 85px;
    display: flex;
    align-items: center;
}

.app__header-actions a.button {
    line-height: 1.5rem;
}

.app__header-actions a.button + a.button {
    margin-left: 5px;
}


.app__header-actions a + a:not(.button) {
    margin-left: 7px;
}

.app__header-options {
    height: 28px;
    padding: 5px;
    border-radius: 50%;
    background-color: #4e4552;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.app__header-options i {
    font-size: 1.6rem;
    color: var(--text-color);
}


.app__header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    filter: blur(15px);
    z-index: -1;
}


/* Content CSS */
.content {
    padding: 205px 55px 0;
    display: flex;
    flex-direction: column;
}


.content__navbar {
    margin: auto auto 30px;
    height: 52px;
}

.content__navbar-menu {
    height: 32px;
    padding: 3px;
    border-radius: 15px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-content-color);
}

.content__navbar-item {
    height: 100%;
    min-width: 100px;
    border-radius: 15px;
    text-align: center;
    color: var(--text-color);
    cursor: pointer;
}

.content__navbar-item.active {
    background-color: #6e6875;
}

.content__navbar-item span {
    padding: 7px 25px;
    font-size: 1.2rem;
    line-height: 2.6rem;
    text-transform: uppercase;
}


/* Content container */
.content__container {
    width: 100%;
}

.container__tab {
    display: none;
}

.container__tab.active {
    display: block;
}


.container__control {

}

.container__section {
    
}

.container__header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-upload .container__header {
    height: 27px;
}

.container__header-title {
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 2.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.container__header-title:hover {
    color: var(--link-text-hover);
}

.container__header-title h3 {
    margin: 0;
    color: var(--white-color);
    font-size: 2rem;
}


.container__header-actions {
    display: flex;
    align-items: center;
}

.button.container__header-btn {
    border: 1px solid var(--border-color);
    height: 29px;
}

.container__header-btn:first-child {
    padding: 0;
}

.button.container__header-btn:first-child {
    position: relative;
    overflow: hidden;
}

.button.container__header-btn span {
    line-height: 1.5rem;
}

label .container__header-icon {
    font-size: 1.3rem;
    margin: 0 2px 4px 0;
}

.button.container__header-btn:last-child i {
    font-size: 2rem;
    margin: 0 2px 0 -3px;
}

.container__header-icon {
    font-size: 1.9rem;
    margin: 4.5px 0 0 -1px;
}

#container__header-input {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

.button.container__header-btn label {
    padding: 0 19px;
    border-radius: 20px;
    line-height: 2.9rem;
    cursor: pointer;
}

.container__header-btn:first-child {
    background-color: #2f2739;
}


.container__header-btn + .container__header-btn {
    margin-left: 15px;
}


/* Content slideshow */
.container__playmusic {
    width: 100%;
    margin: 0;
    height: 244px;
    margin-bottom: 25px;
    display: flex;
}


/* Content Slider */
.container__slide {
    height: 100%;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container__slide-show {
    width: 230px;
    height: 244px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    position: relative;
}

.container__slide-item {
    width: 230px;
    height: 230px;
    position: absolute;
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    transition: all 0.9s;
}


.container__slide-img {
    width: 100%;
    padding-top: 100%;
    border-radius: 5px;
}

.container__slide-item.first {
    opacity: 1;
    transform: translate3d(0 , 0, 80px) scale(1,1);
}

.container__slide-item.second {
    opacity: 0.7;
    transform: translate3d(var(--offset-x-second) , 0, 60px) scale(var(--scale-rate-second), var(--scale-rate-second));
}

.container__slide-item.third {
    opacity: 0.9;
    transform: translate3d(var(--offset-x-third) , 0, 20px) scale(var(--scale-rate-third), var(--scale-rate-third));
}

.container__slide-item.fourth {
    opacity: 0.1;
    transform: translate3d(var(--offset-x-third) , 0, 0) scale(var(--scale-rate-third), var(--scale-rate-third));
}


/* Content playlist */
.container__playlist {
    height: 100%;
    width: calc(100% - 270px);
}

.playlist__header {
    width: 100%;
    height: 46px;
    padding: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
    color: #b0a8b9;
    text-transform: uppercase;
    box-shadow: 0 1px 2px var(--bg-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.playlist__header-title {
    width:50%;
    padding-left: 24px;
    line-height: 2.5rem;
}

.playlist__header-time {
    line-height: 2.5rem;
    flex: 1;
}

.playlist__header-options {
    min-width: 24%;
    text-align: center
}

.playlist__list {
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 1.2rem;
    color: #b0a8b9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: overlay;
}

.playlist__list::-webkit-scrollbar {
    display: none;
}

.playlist__list:hover::-webkit-scrollbar {
    display: block;
    width: 4px;
}

  
  /* Track */
.playlist__list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}
  
  /* Handle */
.playlist__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
  
  /* Handle on hover */
.playlist__list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.playlist__list-song {
    height: 61px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 1px 1px var(--bg-color);
    background-color: var(--primary-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.playlist__list-song:hover,
.playlist__list-song.active {
    background-color: #2f2739;
}

  
  
.playlist__list-song.active .option,
.playlist__list-song.active .author,
.playlist__list-song.active .title {
    color: #fff;
}

.playlist__song-info {
    width: 50%;
}



/* Song check CSS */
.playlist__song-check {
    position: relative;
    display: none;
}

.playlist__song-check label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    top: -7px;
    right: -14px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    background: transparent;
}

.playlist__song-check label:after {
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 3px;
    background: transparent;
    top: 3px;
    left: 1px;
    border: 2px solid #fcfff4;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}


.playlist__song-check label:hover::after {
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.playlist__song-check input[type=checkbox]:checked + label:after {
    filter: alpha(opacity=100);
    opacity: 1;
}
.playlist__list-song:hover .btn--play-song,
.playlist__list-song:hover .playlist__song-check {
    display: block;
}

.playlist__list-song:hover .playlist__song-info > i {
    visibility: hidden;
}

.playlist__song-info > i {
    font-size: 1.4rem;
    height: 16px;
    width: 16px;
}



.playlist__song-thumb {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.btn--play-song {
    background: rgba(0,0,0,0.5);
    display: none;
}


.playlist__song-body {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.playlist__song-title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
    margin: 0;
}

.playlist__song-author {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #999;
    margin: 3px 0 0;
}

.playlist__song-time {
    
}

.playlist__song-option {
    
}


/* Container album playlist */
.container__move-btn {
    width: 26px;
    height: 26px;
    line-height: 2.6rem;
    text-align: center;
    cursor: pointer;
}

.container__move-btn + .container__move-btn {
    margin-left: 18px;
}

.container__move-btn-icon {
    font-size: 1.8rem;
    color: var(--white-color);
}


.album__create-icon {
    width: 47px;
    height: 47px;
    margin-bottom: 15px;
    font-size: 3.9rem;
    font-weight: 100;
    line-height: 4.7rem;
    text-align: center;
    color: var(--text-color);
    -webkit-text-stroke: 2px #992392;
}

.album__create-annotate {
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: var(--text-color);
}

.album__section-playlist {
    position: relative;
}



/* Footer CSS */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 91px;
    background-color: #120c1c;
    border-top: 1px solid var(--bg-color);
    /* display: none; */
}

.player {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.player__song-container {
    width: 30%;
    display: flex;
}

.player__song-info {
    flex-basis: auto;
    transition: transform 0.5s;
}

.player__song-info.playing {
    transform: translateX(20px);
}

.player__song-info .media__content {
    max-width: 190px;
    flex: 0;
}

.player__song-thumb {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: relative;
}

.player__song-thumb .thumb-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(0);
}

.player__song-info.playing .player__song-thumb .thumb-img {
    animation: rotateThumb 10s linear infinite;
}

@keyframes rotateThumb {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}


.player__song-thumb .thumb-note {
    height: 10px;
    width: 10px;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 0;
}

.player__song-info.playing .thumb-note.note-1 {
    animation: circularMotion1 4.8s linear infinite;
}

.player__song-info.playing .thumb-note.note-2 {
    animation: circularMotion2 4.8s 1.2s linear infinite;
}

.player__song-info.playing .thumb-note.note-3 {
    animation: circularMotion3 4.8s 2.4s linear infinite;
}

.player__song-info.playing .thumb-note.note-4 {
    animation: circularMotion4 4.8s 3.6s linear infinite;
}

@keyframes circularMotion1 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
}

@keyframes circularMotion2 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}

@keyframes circularMotion3 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
}

@keyframes circularMotion4 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
}





.player__song-body {
    flex: 1;
    overflow: hidden;
    color: var(--text-color);
}

.player__song-body::after {
    content: "";
    display: block;
    height: 100%;
}

.player__song-title {
    height: 16px;
    max-width: 190px;
    display:flex;
    position: relative;
    font-weight: 500;
    overflow: hidden;
    font-size: 1.4rem;
    line-height: 1.6rem;
    white-space: nowrap;
}

.player__title-animate {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
}

.player__song-title .title__item {
    min-width: 90px;
    padding-right: 10px;
    
}


.player__song-author {
    display: flex;
    color: #999;
    margin: 3px 0 0;
    max-width: 100%;
    font-size: 1.2rem;
    overflow: hidden;
    line-height: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.player__song-author a {
    white-space: nowrap;

}


.player__song-options {
    display: flex;
    height: 32px;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}



  /* CONTROL */
.player__control {
    flex: 1;
    height: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player__control-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 248px;
    height: 50px;
}


.btn-toggle-play {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-toggle-play i {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.btn-toggle-play i::before {
    transform: translateX(1px);
}


.player__control .btn.active {
    color: var(--active-color);
}

.player__control .btn-repeat,
.player__control .btn-random,
.player__control .btn-next,
.player__control .btn-prev {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__control .control-btn.active {
    color: var(--active-color);
  }

.player__control .btn-repeat:active,
.player__control .btn-random:active,
.player__control .btn-next:active,
.player__control .btn-prev:active {
    background-color: #282231;
}

.progress-block {
    height: 18px;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  #durationtime,
  #tracktime {
    width: 55px;
    font-size: 1.2rem;
    margin: 0 5px;
    color: #fff;
    display: block;
    text-align: center;
}

  
.progress {
    width: 100%;
    height: 3px;
    background: #5a5561;
    opacity: 1;
    border-radius: 2px;
    -webkit-appearance: none;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}


  
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background-color: #a39a9a;
    cursor: pointer;
}


.player__options {
    width: 30%;
    padding-left: 150px;
    display: flex;
    align-items: center;
}


  /* Volume */
.player__volume-progress {
    width: 70px;
    height: 20px;
    margin-right: 20px;
}


.volume__background {
    content: "";
    display: none;
    width: 134%;
    height: 25px;
    border-radius: 10px;
    background-color: #353535;
    position: absolute;
    top: -169%;
    right: -16%;
    z-index: -1;
}

.volume:active .volume__range.horizontal ~ .volume__background,
.volume:hover .volume__range.horizontal ~ .volume__background {
    display:block;
}

.volume__range {
    width: 100%;
    height: 2px;
    margin-bottom: 0px;
    background-color: #5a5561;
    outline: none;
    opacity: 1;
    transform: rotate(0deg);
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s, rotate 0.2s, translateX 0.2s;
    cursor: pointer;
    z-index: 10;
}


.volume__range::before {
    position: absolute;
    content: "";
    display: block;
    width: 150%;
    height: 60px;
    position:absolute;
    top: -30px;
    right: -30%;
    z-index: -1;
}

.volume:hover .volume__range,
.volume:active .volume__range {
    display: block;
}

.volume__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #a39d9d;
    cursor: pointer;
}
  
.player__list-icon {
    color: var(--white-color);
    width: 28px;
    height: 30px;
    line-height: 3rem;
    margin-left: 20px;
    border-radius: 4px;
    text-align: center;
    position: relative;
    background-color: var(--bg-color);
}

.player__list-icon::before {
    content: "";
    width: 1px;
    height: 33px;
    display: block;
    position: absolute;
    top: 0;
    left: -18px;
    transform: translateY(-25%);
    background-color: var(--bg-color);
}