:root {
    --primary-color: #170f23;
    --active-color: #69387e;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: #2f2739;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 10;
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: #fff;
    font-size: 12px;
  }
  
  header h2 {
    color: #fff;
    font-size: 20px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }



  /* Volume */
  .volume {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    position: absolute;
    bottom: 110px;
    right: 16px;
    padding: 10px;
  }



  .volume__icon {
    color: #fff;
    font-size: 14px;
  }

  .volume__range {
    width: 120%;
    height: 2px;
    background: #fff;
    outline: none;
    opacity: 1;
    transform: rotate(270deg) translateX(65px);
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s, rotate 0.2s, translateX 0.2s;
    display: none;
  }

  .volume .volume__range.horizontal {
    transform: rotate(0deg) translateY(-30px);
  } 

  .volume__range::before {
    position: absolute;
    content: "";
    display: block;
    width: 110%;
    height: 20px;
    position:absolute;
    top: -8px;
    right: -6px;
    z-index: -1;
  }

  .volume:hover .volume__range,
  .volume:active .volume__range {
    display: block;
  }

  .volume__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #a39d9d;
    cursor: pointer;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 0 8px 0;
    margin-top: 18px;
  }
  
  .control .btn {
    color: #fff;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--active-color);
  }
  
  .control .btn-toggle-play {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border:2px solid #fff;
  }

  .control .btn-repeat:active,
  .control .btn-random:active,
  .control .btn-next:active,
  .control .btn-prev:active {
    opacity: 0.8;
  }

  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #fff;
    outline: none;
    opacity: 1;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #a39a9a;
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
    /* margin-top: 408px; */
    padding: 408px 12px 12px;
    background-color: var(--primary-color);
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: rgb(207, 200, 200);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.2);
  }
  
  .song.active {
    background-color: #2f2739;
  }
  
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 20px;
    font-size: 18px;
    color: #999;
    position: relative;
  }

  .option__block {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: 0;
    border-radius: 8px;
    z-index: 5;
    background-color: #432275;
  }

  

  .option.active .option__block {
    display: flex;
  }

  .option__download-list {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 250px;
    height: 50px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #563983;
  }

  .option__download-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50px;
      width: 80px;
      border-radius: 8px;
      background-color: #563983;
      border: none;
      color: #fff;
  }

  .option__download-btn:hover {
    background-color: #654b8d;
  }

  .option__download-btn:active {
    background-color: #654b8d;
  }

  .option__download-btn i{
    font-size: 14px;
  }

  .option__download-btn span {
    font-size: 10px;
    margin-top: 6px;
  }

  .option__list {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    justify-content: center;
  }

  .option__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 38px;
  }

  .option__item:hover {
    background-color: #563983;
  }

  .option__item-block {
    display: flex;
    align-items: center;
  }

  .option__item-content {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
  }

  .option__item-icon {
    font-size: 16px;
    padding: 0 14px;
    color: #fff;

  }
  