<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col l-2-4 row__item item-album--height">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/albums/album1.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Hospital Playlist Piano Covers</a>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-album--height">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/albums/album2.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Boycold (Mini Album)</a>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-album--height">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/albums/album3.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Love & Letter (Repackage Album)</a>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-album--height">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/albums/album4.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Người Yêu Cũ (Gửi Cho Anh 2) (Mini Album)</a>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-album--height">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/albums/album5.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">The Red Summer (Mini Album)</a>
            </div>
        </div>
    </div>
</body>
</html>