<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist3.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Dance Việt Hay Nhất</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist4.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Nhạc Việt Được Nghe Nhiều Nhất</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist5.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Top 100 Bài Hát Nhạc Trẻ Hay Nhất</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist6.jfif') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #15</a>
                <h3 class="row__info-creator">Lạc Trôi</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist7.jfif') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #3</a>
                <h3 class="row__info-creator">Đạt Tấn</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist8.jfif') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #5</a>
                <h3 class="row__info-creator">Trà My</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist9.jfif') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #1</a>
                <h3 class="row__info-creator">Nguyễn Thành Công</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist10.jfif') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #1</a>
                <h3 class="row__info-creator">Văn Bình Nguyễn</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist11.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">V-Pop: The A-List</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist12.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist Này Chill Phết</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist13.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Tháng 1</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist14.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">4U - On Repeat</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist15.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Những Bài Hát Hay Nhất Của Mr. Siro</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist16.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Top EDM Songs Of 2018</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist17.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Giai Điệu Và Trào Lưu Gây Sốt</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist18.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Những Bài Hát Hay Nhất Của HKT</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist19.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">100% Gây Nghiện</a>
                <h3 class="row__info-creator">Zing MP3</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist20.jfif') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #1</a>
                <h3 class="row__info-creator">Nguyên</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist21.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #1</a>
                <h3 class="row__info-creator">Ngọc Trâm</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist22.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #1</a>
                <h3 class="row__info-creator">Nal</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist23.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #1</a>
                <h3 class="row__info-creator">Lâm Huy</h3>
            </div>
        </div>
    </div>
    <div class="col l-2-4 row__item item-playlist--height mb-30">
        <div class="row__item-container flex--top-left">
            <div class="row__item-display br-5">
                <div class="row__item-img img--square" style="background: url('./assets/img/playlists/playlist24.jpg') no-repeat center center / cover"></div>
                <div class="row__item-actions">
                    <button class="action-btn">
                        <i class="bi bi-x-lg"></i>
                    </button>
                    <div class="playlist-play">
                        <div class="control-btn btn-toggle-play">
                            <i class="bi bi-play-fill icon-play"></i>
                        </div>
                    </div>
                    <button class="action-btn">
                        <i class="bi bi-three-dots"></i>
                    </button>
                </div>
                <div class="overlay"></div>
            </div>
            <div class="row__item-info">
                <a href="#" class="row__info-name">Playlist #5</a>
                <h3 class="row__info-creator">TVĐ (GK)</h3>
            </div>
        </div>
    </div>
</body>
</html>